*{
    padding: 0;
}
.for-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-input{
    background-color: transparent;
    border: none;
}

.close-button {
    position: absolute;
    right: -0.8em;
    top: -0.8em;
    height: 1.6em;
    width: 1.6em;
    border-radius: 100%;
    border-style: none;
    background: #1E282E;
    color: #C6C6C6;
}